<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div th:replace="navbar :: navbar2"></div>
    </header>
    <br />
    <div>
      <h1>
        Welcome <span th:text="${username}"></span> to Code Fellows Home page
      </h1>
      <br />
      <h4>
        Here in Coding Fellows app allow you learning to code and connect with
        other fellows and support each other on your coding journeys. to make
        coding learning easier for you
      </h4>
      <br />
      <h3>
        Click Here to Go to your profile
        <a href="profile">SignUp</a>
      </h3>
    </div>
  </body>
</html>
