<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <div th:replace="navbar :: navbar"></div>
    </header>
    <div>
      <h1>Welcome to Code Fellows Home page</h1>
      <h3>
        Here in Coding Fellows app allow you learning to code and connect with
        other fellows and support each other on your coding journeys. to make
        coding learning easier for you
      </h3>
      <h3>
        Click Here to Sign Up: <a href="http://localhost:8080/signup">SignUp</a>
      </h3>
    </div>
  </body>
</html>
